*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    scroll-behavior: smooth;
    --white-text:#ffff;
    --background:#c8e8f1;
    --black-text:rgb(68, 66, 66)
    --prueba: (180deg, #21c8f6, #637bff);
}

.background1-left-column{
    background:linear-gradient(180deg, #21c8f6, #637bff);
}

.background2-left-column{
    background: linear-gradient(180deg, #6edcc4, #1aab8b);
}

.skills-cards{
    background-color: var(--white-tex);
    border-radius: 1rem;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, .2);
    display: flex;
    margin: 1.5rem;
    overflow: hidden;
    width: 30rem;
    height: 19rem;
}

.left-column{
    color: var(--white-tex);
    padding: 2rem;
    max-width: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.rigth-column{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}



body{
    font-family: 'Fraunces', serif;
    font-family: 'Open Sans', sans-serif;
}

/*.img-galeria{
    height: 500px;
    width: 1200px;
}*/

.contenedor{
    width: 90%;
    max-width: 1200px;
    overflow: hidden;
    margin: auto;
}

.foto{
    width: 150px; /* P: Foto circular y centrada*/
    height: 170px;
    border-radius: 50%;
    border-style: solid;
    border-width: 5px;
}

.header{
    height: 100vh;
    background-image: linear-gradient(to top, hsla(258, 43%, 68%, 0.5) 0%, hsla(317, 88%, 87%, 0.5) 100%), url(../img/woman.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.head{
    text-align: center;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}

.hamburguer{
    position: fixed;
    top:30px;
    right: 30px;
    background-color: #ffff;
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
}

.menu-navegacion{
    position: fixed;
    top: 0;
    right: 0;
    width: 30vw;
    height: 100%;
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    transition: transform .3s ease-in-out;
    transform: translate(110%);
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
    z-index: 1000;
}

.spread{
    transform: translate(0);
}

.menu-navegacion a{
    color: #ffff;
    text-decoration: none;
}

.titulo{
    font-size: 60px;
    margin-bottom: 15px;
}

.copy{
    font-weight: 300;
    font-size: 25px;
}

/* about */

.subtitulo{
    text-align: center;
    font-weight: 300;
    color: #9f8ad0;
    margin-bottom: 40px;
    font-size: 40px;
}

.bton {
    background-color: #9f8ad0;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 16px; 
    border-radius: 5px; 
    cursor: pointer; 
  }
  
  .bton:hover {
    background-color: #8555f6; 
  }
  

.contenedor-about{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.contenedor-about img{
    width: 40%;
}

.checklist-about{
    width: 60%;
    text-align: center; /*------------------  ACOMODAR ABOUT ME -> JUSTIFY???------------------*/
}

.service{
    margin-bottom: 20px;
}

.n-service{
    margin-bottom: 7px;
    color: #9f8ad0;
}

.number{
    display: inline-block;
    background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
    width: 30px;
    height: 30px;
    color:#ffff;
    text-align: center;
    border-radius: 50%;
    font-weight: 700;
    line-height: 30px;
    margin-right: 5px;
}

.gallery{
    background: #f2f2f2;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap; 
    border-radius: 10px;
}

.contenedor-galeria{
   display: flex;
   justify-content: space-evenly;
   flex-wrap: wrap; 
   border-radius: 10px;
}

.img-galeria{
    object-fit: cover;
    width: 30%;
    display: block;
    margin-bottom: 15px;
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
    cursor: pointer;
}

.imagen-light{
    position: fixed;
    background: rgba(0, 0, 0, .6);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(100%);
    transition: transform .2s ease-in-out;
}

.show{
    transform: translate(0);
}

.agregar-imagen{
    object-fit: cover;
    width: 60%;
    border-radius: 10px;
    transform: scale(0);
    transition: transform .3s .2s;
}

.showImage{
    transform: scale(1);

}

.close{
    position: absolute;
    top: 15px;
    right: 15px;
    width: 40px;
    cursor: pointer;
}

.filter-menu {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .filter-btn {
    background-color: #9f8ad0;

    color: white;
    border: none;
    padding: 8px 16px;
    margin: 5px;
    border-radius: 5px; 
    cursor: pointer;
  }
  
  .filter-btn.active {
    background-color: #8555f6; 
  }
  
  .card-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .card {
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
    width: 300px;
  }
  


.skills{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.community{
    display: absolute;
    justify-content:space-between;
    align-items: center;
    flex-wrap: wrap;
}

.cont-skill{
    width: 30%;
    text-align: center;
    margin-bottom: 50px;
}

.cont-skill2{
    width: 50%;
    text-align: center;
    margin-bottom: 20px;
}

.cont-skill img{
    width: 20%;
    display: block;
    margin: 0 auto;
}

ul {
    list-style: none;
}

.conts-skill{
    width: 90%;
    max-width: 500px;
    overflow: hidden;
    margin: auto;
    text-align: center;
}

.conts-skill-s{
    display: inline-block;
    width: 90%;
    max-width: 500px;
    overflow: hidden;
    margin: auto;
    text-align: center;
}

.n-skill{
    display: inline-block;
    margin-top:20px;
    width: 100%;
    font-weight: 400;
}

/* Skills */

.skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Distribuye el espacio entre las columnas */
    margin-top: 20px;
}

.skills-category {
    width: calc(50% - 20px); /* Calcula el ancho de cada columna con margen entre ellas */
  margin-bottom: 20px; /* Espacio inferior entre las columnas */
  box-sizing: border-box; 
}
  
.skills-category h2 {
    margin-bottom: 10px;
}
  
.skills-list {
    list-style-type: none;
    padding: 0;
}
  
.skills-list li {
    margin-bottom: 5px;
}
  
/* Estilos adicionales para resaltar ciertas habilidades */
  #ui-ux-skills li:nth-child(3), /* Prototyping */
  #frontend-skills li:nth-child(4) { /* React.js */
    font-weight: bold;
}

/* work experiences */
.work-experiences {
    max-width: 800px;
    margin: 20px auto;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    border-bottom: 1px solid #ccc;
    padding: 20px 0;
  }
  
  .job-title {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 5px;
  }
  
  .company-name {
    color: #666;
    margin-bottom: 5px;
  }
  
  .activities {
    margin-bottom: 10px;
  }
  
  .activities p {
    margin: 5px 0;
  }
  
  .duration {
    color: #999;
    font-style: italic;
  }
  
  @media screen and (max-width: 600px) {
    .job-title {
      font-size: 16px;
    }
  }
  
/* image work experiences */

.work-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
  
  .image-work {
    width: 200px; 
    justify-content: right;
    display: flex;
    align-items: center;
  }
  
  .fas.fa-check {
    color: #764ba2;
  }

/* Footer */

footer{
    background:#764ba2;
    padding-bottom: 0.1px;

}

.footer-content{
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 60px;
    padding-bottom: 40px;
}

.contact-us{
    width: 40%;
    color: #ffff;

}

.brand{
    font-weight: 500;
    font-size: 40px;
}

.brand+p{
    font-weight: 500;
}

.social-media{
    width: 50% ;
    display: flex;
    justify-content: flex-end;
}

.social-media-icon{
    display: inline-block;
    margin-left: 20px;
    width: 60px;
    height: 60px;
    border: 1px solid #ffff;
    border-radius: 50%;
    text-align: center;
    color: #ffff;
}

.social-media-icon:hover{
    background: #ffff;
    color: #764ba2;
}

.social-media-icon i{
    font-size: 30px;
    line-height: 60px;
}

.line{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    height: 2px;
    background: #fff;
    margin-bottom: 60px;
}

@media screen and (max-width:800px){
    .menu-navegacion{
        width: 50vw;
    }

    .titulo{
        font-size: 40px;
    }

    .contenedor-about img{
        width: 80%;
        margin-bottom: 40px;
    }

    .checklist-about{
        width: 80%;
    }

    .service{
        margin-bottom: 30px;

    }

    .agregar-imagen{
        width: 80%;
    }

    .img-galeria{
        width: 45%;
    }

    .cont-skill{
        width: 80%;
    }

    .social-media{
        width: 80%;
        justify-content: space-evenly;

    }

    .social-media i{
        margin-left: 0;
    }

    .footer-content{
        justify-content: center;
    }

    .contact-us{
        text-align: center;
        width: 80%;
        margin-bottom: 40px;
    }

    .social-media-icon{
        margin-left: 0;
    }

    }

    @media screen and (max-width:500px){
        .menu-navegacion{
            width: 65vw;
        }

        .hamburguer{
            top: 20px;
            right: 20px;
        }

        .titulo{
            font-size: 30px;
        }

        .subtitulo{
            font-size: 30px;
        }

        .img-galeria{
            width: 95%;
        }

        .agregar-imagen{
            width: 95%;
        }

        .social-media{
            width: 100%;
        }
        
        .contact-us{
            width: 90%;
        }
    }

    /**/
    .card {
        position: relative;
        width: 300px;
        height: 200px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        overflow: hidden;
        margin-bottom: 20px;
        z-index: 1;
      } 
      
      .card img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        transition: transform 0.3s ease;
      }
      
      .card-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        padding: 20px;
        box-sizing: border-box;
        opacity: 0;
        transition: opacity 0.3s ease;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
      }
      
      .card:hover .card-overlay {
        opacity: 1;
      }
      
      .card-overlay h3,
      .card-overlay p {
        color: white;
        margin-bottom: 10px;
      }
      
      .card-overlay button {
        padding: 10px 20px;
        background-color: #007bff;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        align-self: center; /* Centra el botón horizontalmente */
      }
      